<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1><span id="M">M</span>OVIE BUFF</h1>
    <div class="btn-cont">
        <h2>most popular movies</h2>
        <button class="btn btn-lg neww"><a href="/search">search movies,series...</a></button>
    </div>
    
    <div class="card-deck">
        <% for(let i=0;i<3;i++) { %>
            <div class="card">
                <img class="card-img-top" src=<%= movies[i].image %> alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= movies[i].name %></h5>
                  <p class="card-text"><%= movies[i].year %></p>
                </div>
            </div>
        <% } %>
    </div>
    <h2>most popular Series</h2>
    <div class="card-deck">
        <% for(let i=0;i<3;i++) { %>
            <div class="card">
                <img class="card-img-top" src=<%= series[i].image %> alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= series[i].name %></h5>
                  <p class="card-text"><%= series[i].year %></p>
                </div>
            </div>
        <% } %>
    </div>

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle drop" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <% if(locals.genre) {%>
            <%= genre[0].ge %>
           <% } else {%>
            Search by genre
            <% } %>
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/genre/action">action</a>
          <a class="dropdown-item" href="/genre/adventure">adventure</a>
          <a class="dropdown-item" href="/genre/animation">animation</a>
          <a class="dropdown-item" href="/genre/biography">biography</a>
          <a class="dropdown-item" href="/genre/comedy">comedy</a>
          <a class="dropdown-item" href="/genre/crime">crime</a>
          <a class="dropdown-item" href="/genre/documentary">documentary</a>
          <a class="dropdown-item" href="/genre/drama">drama</a>
          <a class="dropdown-item" href="/genre/family">family</a>
          <a class="dropdown-item" href="/genre/fantasy">fantasy</a>
          <a class="dropdown-item" href="/genre/film-noir">film-noir</a>
          <a class="dropdown-item" href="/genre/history">history</a>
          <a class="dropdown-item" href="/genre/horror">horror</a>
          <a class="dropdown-item" href="/genre/mystery">mystery</a>
          <a class="dropdown-item" href="/genre/romance">romance</a>
          <a class="dropdown-item" href="/genre/sci-fi">sci-fi</a>
          <a class="dropdown-item" href="/genre/sport">sport</a>
          <a class="dropdown-item" href="/genre/thriller">thriller</a>
          <a class="dropdown-item" href="/genre/war">war</a>
        </div>
      </div>

    <% if(locals.genre) {%>
        <div class="card-deck">
            <% for(let i=0;i<3;i++) { %>
                <div class="card">
                    <img class="card-img-top" src=<%= genre[i].image %> alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><%= genre[i].name %></h5>
                      <p class="card-text"><%= genre[i].year %></p>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>